<div class="clr-row clr-justify-content-center">
  <div class="clr-col-lg-7 clr-col-md-12 clr-col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-img">
          <img src="assets/evan_suau.jpg" alt="Evan Suau">
        </div>
        <div class="text-center">
          <h3>Evan Suau</h3>
          <small>Software Engineer</small>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <h5>Bio</h5>
          <p>
            <app-bio-content></app-bio-content>
          </p>
          <h5>Interests</h5>
          <span class="label clickable">Software development</span>
          <span class="label label-purple clickable">Cloud computing</span>
          <span class="label label-blue clickable">Continuous delivery</span>
          <span class="label label-light-blue clickable">DevOps</span>
          <span class="label label-orange clickable">Agile project management</span>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" routerLink="/contact">Contact me</button>
      </div>
    </div>
  </div>
</div>
