<div class="clr-row clr-justify-content-center">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="card-img">
          <img src="assets/evan_suau.jpg" alt="Evan Suau">
        </div>
        <div class="text-center">
          <h3>Evan Suau</h3>
          <small>DevOps Engineer Apprentice @ BRED Banque Populaire</small>
          <br />
          <small>Graduate Student @ École Supérieure d'Ingénieurs de Paris-Est Créteil</small>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <h5>Bio</h5>
          <p>
            I am part of the Compliance Team as a DevOps Engineer Apprentice at
            <a href="https://www.bred.fr/index.html" target="_blank" rel="noopener noreferrer">BRED Banque Populaire</a>.
            I study Information Systems Engineering at the
            <a href="http://esipe.u-pec.fr/" target="_blank" rel="noopener noreferrer">École Supérieure d'Ingénieurs de
              Paris-Est Créteil</a>.
            I am engaged in <a href="https://fac-creteil.fr/" target="_blank" rel="noopener noreferrer">FAC</a>,
            the main student society of Université Paris-Est Créteil, as the VP Entrepreneurship.
            🚀
          </p>
          <h5>Interests</h5>
          <span class="badge badge-1">DevOps</span>
          <span class="badge badge-2">Cloud computing</span>
          <span class="badge badge-3">Software development</span>
          <span class="badge badge-4">Agile project management</span>
          <span class="badge badge-5">Continuous delivery</span>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Contact me</button>
      </div>
    </div>
  </div>
</div>
