<div class="clr-row clr-justify-content-center">
  <div class="clr-col-lg-7 clr-col-md-12 clr-col-sm-12">
    <div class="card text-center">
      <div class="card-header">
        <h3>
          <clr-icon shape="talk-bubbles" size="24"></clr-icon> Contact info
        </h3>
      </div>
      <div class="card-block">
        <div class="card-text">
          <h5>Location</h5>
          Paris, France
          <h5>Email</h5>
          <button
            *ngIf="!emailVisible"
            class="btn btn-outline"
            (click)="showEmail()"
          >
            <clr-icon shape="envelope"></clr-icon>
            Show email address
          </button>
          <a *ngIf="emailVisible" href="mailto:evan.suau@outlook.com">evan.suau@outlook.com</a>
          <h5>Skype</h5>
          evan.suau
          <h5>Social media</h5>
          <div class="clr-row">
            <div class="filler"></div>
            <a
              *ngFor="let item of socialList"
              class="social-media-icon"
              target="_blank"
              rel="noopener noreferrer"
              [href]="item.link"
              [ngStyle]="{
                background: 'url(assets/' + item.name + '.svg)'
              }"
            ></a>
            <div class="filler"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
