<div class="main-container">
  <header class="header">
    <div class="branding">
      <a routerLink="" class="nav-link">
        <span class="title">Evan Suau</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="" class="nav-link">
        <span class="nav-text">About me</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="https://github.com/esuau" rel="noopener noreferrer" target="_blank" class="nav-link nav-icon">
        <img src="assets/github-light.png" alt="GitHub" />
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="" routerLinkActive="active">
        <clr-icon shape="user"></clr-icon>
        Bio
      </a>
      <a clrVerticalNavLink routerLink="">
        <clr-icon shape="file"></clr-icon>
        Resume
      </a>
      <a clrVerticalNavLink routerLink="">
        <clr-icon shape="talk-bubbles"></clr-icon>
        Contact
      </a>
    </clr-vertical-nav>
  </div>
</div>
