<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="" class="nav-link">
        <span class="title">Evan Suau</span>
      </a>
    </div>
    <div class="header-actions">
      <a
        class="nav-link nav-text"
        href="https://github.com/esuau"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="settings">
        <img src="assets/github-light.png" height="32" width="32" alt="GitHub" />
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true" class="has-nav-groups nav-trigger--bottom">
      <a clrVerticalNavLink routerLink="bio" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Bio
      </a>
      <a clrVerticalNavLink routerLink="resume" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="briefcase"></clr-icon>
        Resume
      </a>
      <a clrVerticalNavLink routerLink="contact" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="talk-bubbles"></clr-icon>
        Contact
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
