@import '~@angular/material/theming';

@include mat-core();

$theme-app-primary: mat-palette($mat-light-blue, 800);
$theme-app-accent:  mat-palette($mat-yellow, 700);
$theme-app-warn:    mat-palette($mat-red);

$theme-app-theme: mat-dark-theme($theme-app-primary, $theme-app-accent, $theme-app-warn);

@include angular-material-theme($theme-app-theme);
